a {
  outline: none;
  color: #354A5B;
}

a:hover {
  color: #4AAAA5;
}

.record a{
  outline: none;
}

h3, h4{
    color: #333D4E;
     font-family: 'Roboto', sans-serif;
}

h5{
    color:#52ABAE;
    display: inline;
}

h5 a{
    color:#353F4F;
}

h2{ font-family: 'Roboto', sans-serif;
font-weight: 600;
}

#margemleft{
    margin-left:1.7em;
  }

/*Neatline*/
#neatline-narrative {
    height: 76%;
}

/* Muda o menu de opções do mapa para a esquerda da tela*/
#neatline #waypoints {
  max-width: 300px;
  max-height: 100%;
  top: 0px;
  left: 50px;
  font-size: 1.2em;
}

/* Move a janela com informações do mapa para a direita*/
#static-bubble {
  border-radius: 0;
  color: #000;
  max-height: 95%;
  top: 0px;
  left: 70%;
  right: 20px;
  max-width: 40% !important;
  /*border: 6px solid rgb(53, 74, 91) !important*/
  box-shadow: -1px 1px 3px 0px rgb(53, 74, 91);
}

#static-bubble.selected {
  opacity: 1;
}

#waypoints a.title.selected {
  background: #354A5B none repeat scroll 0% 0%;
}

#waypoints a.title {
  line-height: 1.2em;
}

#waypoints a.title.highlighted {
  background: #4AAAA5;
  color: white;
}

#neatline .widget {
  opacity: 1;
}

.bubble.static {
  opacity: 0.1;
}

/*Fontes do bubble com informações do item no mapa*/
#static-bubble {
  background: #fff none repeat scroll 0% 0%;
  color: #354A5B;
}

#static-bubble .title {
  font-weight: bold;
  font-size: 1.3em;
}

/* Texto do lightbox */
#lb-caption-bold, #lb-content {
  color: white;
}

.lb-data, .lb-caption {
  font-size: 13px;
  line-height: 1em;
  /*titulo dos sliders */
  color:#fff;
}

.lb-caption-bold {
    font-weight: bold;
}

.lb-data .lb-details {
  width: 200%;
}
